#container{
    margin: 20px
}

.subtitle {
    font-family: sans-serif, Sans, Arial, Helvetica;
	font-weight: bold;
	font-size: 1.3em;
	color: rgb(172, 172, 172);
}

.subsubtitle {
    font-family: sans-serif, Sans, Arial, Helvetica;
	font-weight: bold;
	font-size: 1em;
	color: rgb(0, 0, 0);
}   

a {
    color: rgb(87, 35, 100);
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
